#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  border-radius: 5px;
  padding: 20px;
  z-index: 1001;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}